<template>
  <ConfirmDialog />
  <div class="card" v-if="this.$store.state.dataPreLoading">
    <div class="flex align-content-center flex-wrap card-container m-8">
      <ProgressSpinner strokeWidth="4" animationDuration="2s" />
    </div>
  </div>
  <div class="card" v-else>
    <DataView
      :layout="layout"
      :value="apartments"
      :rowsPerPageOptions="[9, 25, 50]"
      :paginator="true"
      :rows="9"
    >
      <template #header>
        <div class="grid grid-nogutter">
          <div class="col-6">
            <DataViewLayoutOptions v-model="layout" />
          </div>
        </div>
      </template>

      <!-- Empty -->
      <template #empty>
        <div class="flex align-content-center flex-wrap card-container m-8">
          <h1>There's nothing here</h1>
        </div>
      </template>

      <!-- Grid -->
      <template #grid="slotProps">
        <div class="col-12 md:col-4 p-4">
          <Card>
            <template #header>
              <div v-if="slotProps.data.a_picture_url" class="text-center">
                <img
                  class="p-4"
                  :src="slotProps.data.a_picture_url"
                  style="max-width: 20rem"
                />
              </div>
              <div v-else class="text-center">
                <img
                  class="p-4"
                  src="../../src/assets/logo.png"
                  style="max-width: 20rem"
                />
              </div>
            </template>

            <template #title>
              {{ slotProps.data.a_country }}
            </template>

            <template #subtitle>
              {{ slotProps.data.a_city }}
            </template>

            <template #content>
              {{ slotProps.data.a_description }}
            </template>

            <template #footer>
              <div class="flex justify-content-between">
                <Button
                  class="p-button-primary p-button-rounded p-button-outlined"
                  icon="pi pi-cog"
                  style="margin-left: 0.5em"
                  @click="chgApartment(slotProps.data.a_id)"
                />
                <Button
                  class="p-button-danger p-button-rounded p-button-outlined"
                  icon="pi pi-trash"
                  @click="delApartment(slotProps.data.a_id)"
                />
              </div>
            </template>
          </Card>
        </div>
      </template>

      <!-- List -->
      <template #list="slotProps">
        <div
          class="card-container border-round m-3 bg-gray-50"
          style="width: 100%"
        >
          <div class="grid flex">
            <div v-if="slotProps.data.a_picture_url" class="col text-center">
              <img
                class="p-4"
                :src="slotProps.data.a_picture_url"
                style="max-width: 10rem"
              />
            </div>
            <div v-else class="col text-center">
              <img
                class="p-4"
                src="../../src/assets/logo.png"
                style="max-width: 10rem"
              />
            </div>
            <div class="col m-2">
              <div class="font-bold px-5">
                <h1>{{ slotProps.data.a_country }}</h1>
              </div>
              <div class="font-bold px-5">
                {{ slotProps.data.a_city }}
              </div>
              <div class="font-bold px-5">
                {{ slotProps.data.a_address }}
              </div>
            </div>
            <div class="col flex align-items-center m-2">
              <div class="px-5">
                {{ slotProps.data.a_description }}
              </div>
            </div>
            <div class="col flex m-2 align-items-center">
              <div class="m-2">
                <Button
                  class="p-button-primary p-button-outlined"
                  icon="pi pi-cog"
                  style="margin-left: 0.5em"
                  @click="chgApartment(slotProps.data.a_id)"
                />
              </div>
              <div class="m-2">
                <Button
                  class="p-button-danger p-button-outlined"
                  icon="pi pi-trash"
                  @click="delApartment(slotProps.data.a_id)"
                />
              </div>
            </div>
          </div>
        </div>
      </template>
    </DataView>
  </div>
</template>

<script>
import "../state.js";
import router from "../router";
import ProgressSpinner from "primevue/progressspinner";
import ConfirmDialog from "primevue/confirmdialog";
import Button from "primevue/button";
import DataView from "primevue/dataview";
import DataViewLayoutOptions from "primevue/dataviewlayoutoptions";
import Card from "primevue/card";

export default {
  name: "ApartmentsList",
  components: {
    ProgressSpinner,
    ConfirmDialog,
    Button,
    DataView,
    DataViewLayoutOptions,
    Card,
  },
  data() {
    return {
      rows: 50,
      layout: `grid`,
      apartmentMenu: [
        {
          label: `Delete`,
          icon: `pi pi-trash`,
        },
        {
          label: `Edit`,
          icon: "pi pi-cog",
        },
      ],
    };
  },
  methods: {
    onPage(event) {
      this.$store.state.pager.perPage = event.rows;
      this.$store.commit("setPage", event.page + 1);
      this.$store.dispatch("getApartments");
    },
    delApartment(id) {
      this.$confirm.require({
        message: "Are you sure?",
        header: "Delete?",
        icon: "pi pi-exclamation-triangle",
        accept: () => {
          this.$store.dispatch("deleteApartment", { id });
        },
        reject: () => {
          // callback to execute when user rejects the action
        },
      });
    },
  },
  computed: {
    apartments: function () {
      return this.$store.state.apartments;
    },
    // total: function () {
    //   return this.$store.state.pager.total;
    // },
  },
  mounted() {
    if (this.$store.state.loggedIn) {
      this.$store.dispatch("getApartments");
      this.$store.commit("setLoginError", false);
    } else {
      router.push("/");
    }
  },
};
</script>

<style scoped></style>
