<template>
  <Sidebar
    header="Create Apartment"
    :key="$route.fullPath"
    v-model:visible="this.$store.state.createApartmentDialogVisible"
    closable
    position="bottom"
    class="p-sidebar-lg"
  >
    <div class="p-fluid grid p-2">
      <div class="col-12 md:col-4 grid">
        <div class="col-12 md:col-12">
          <span class="field p-fluid">
            <Dropdown
              v-model="country"
              aria-describedby="country-help"
              :options="countries"
              :filter="true"
              placeholder="Country"
              :showClear="true"
            />
          </span>
          <small
            v-if="this.$store.state.validation.country"
            id="picture-help"
            class="p-error"
          >
            {{ this.$store.state.validation.country }}
          </small>
        </div>

        <div class="col-12 md:col-12">
          <span class="field p-fluid">
            <InputText
              v-model="city"
              aria-describedby="city-help"
              placeholder="City"
              type="text"
            /><br />
            <small
              v-if="this.$store.state.validation.city"
              id="city-help"
              class="p-error"
            >
              {{ this.$store.state.validation.city }}
            </small>
          </span>
        </div>

        <div class="col-12 md:col-12">
          <span class="field p-fluid">
            <InputText
              v-model="address"
              aria-describedby="address-help"
              placeholder="Address"
              type="text"
            /><br />
            <small
              v-if="this.$store.state.validation.address"
              id="address-help"
              class="p-error"
            >
              {{ this.$store.state.validation.address }}
            </small>
          </span>
        </div>
      </div>

      <div class="col-12 md:col-4 grid">
        <div class="col-12 md:col-12">
          <span class="field p-fluid">
            <Textarea
              v-model="description"
              aria-describedby="description-help"
              placeholder="Description"
              type="text"
              :autoResize="true"
              rows="9"
            /><br />
            <small
              v-if="this.$store.state.validation.description"
              id="description-help"
              class="p-error"
            >
              {{ this.$store.state.validation.description }}
            </small>
          </span>
        </div>
      </div>

      <div class="col-12 md:col-4 grid">
        <div class="col-12 md:col-12">
          <span class="field p-fluid">
            <Card>
              <template #content>
                <div class="text-center">
                  <div v-if="image">
                    <img :src="image" style="width: 100px" />
                  </div>
                  <div v-else>
                    <img src="../../src/assets/logo.png" style="width: 100px" />
                  </div>
                </div>
              </template>
              <template #footer>
                <div v-if="image">
                  <div>
                    <Button class="p-button-danger" @click="removeImage">
                      Clear
                    </Button>
                  </div>
                </div>
                <label v-if="!image" class="p-button p-button-primary">
                  Add picture
                  <input type="file" @change="onFileChange" />
                </label>
                <small
                  v-if="this.$store.state.validation.picture"
                  id="picture-help"
                  class="p-error"
                >
                  {{ this.$store.state.validation.picture }}
                </small>
              </template>
            </Card>
          </span>
        </div>
      </div>

      <div class="col-12 md:col-12 grid">
        <div class="col-12 md:col-12">
          <span class="field p-fluid">
            <Button
              autofocus
              icon="pi pi-check"
              label="Create"
              @click="create"
            />
          </span>
        </div>
      </div>
    </div>
  </Sidebar>
</template>

<script>
import Sidebar from "primevue/sidebar";
import Button from "primevue/button";
import InputText from "primevue/inputtext";
import Textarea from "primevue/textarea";
import Dropdown from "primevue/dropdown";
import Card from "primevue/card";

export default {
  name: "CreateApartment",
  components: {
    Dropdown,
    Textarea,
    Sidebar,
    Button,
    InputText,
    Card,
  },
  data() {
    return {
      country: null,
      city: null,
      address: null,
      description: null,
      visible: false,
      modal: true,
      image: null,
      imagefile: null,
      countries: ["India", "Poland", "Russia", "Syria", "USA"],
    };
  },
  methods: {
    create() {
      this.$store.dispatch("createApartment", {
        country: this.country,
        city: this.city,
        address: this.address,
        description: this.description,
        picture: this.imagefile,
      });

      this.country = null;
      this.city = null;
      this.address = null;
      this.description = null;
      this.image = null;
      this.imagefile = null;
    },
    onFileChange(e) {
      // eslint-disable-next-line prefer-const
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        return;
      }
      this.imagefile = files[0];
      this.createImage(files[0]);
    },
    createImage(file) {
      // eslint-disable-next-line prefer-const
      let reader = new FileReader();
      reader.onload = (e) => {
        this.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage(e) {
      this.image = null;
    },
  },
};
</script>

<style scoped>
input[type="file"] {
  display: none;
}
</style>
