<template>
  <div class="flex justify-content-center">
    <p class="text-7xl">🙈🙉🙊</p>
  </div>
</template>

<script>
import "../state.js";

export default {
  components: {},
  name: "HomePage",
  mounted() {
    this.$store.commit("setLoginError", false);
  },
};
</script>

<style scoped></style>
