<template>
  <Menubar :model="items">
    <template #start>
      <a href="/">
        <h2 class="m-3">🏢</h2>
        <!-- <img alt="Logo" src="..\..\src\assets\logo.png" width="30" /> -->
      </a>
    </template>
  </Menubar>
</template>

<script>
import Menubar from "primevue/menubar";
import router from "../router";

export default {
  name: "UpperMenu",
  components: { Menubar },
  data() {
    return {
      login: "administrator",
      password: "password",
      brand: process.env.VUE_APP_APPNAME,
      items: [
        {
          label: "Apartments",
          icon: "pi pi-fw pi-chart-line",
          visible: false,
          items: [
            {
              label: "All apartments",
              icon: "pi pi-fw pi-list",
              command: () => {
                router.push("/apartments");
              },
            },
            {
              label: "Create apartment",
              icon: "pi pi-fw pi-plus",
              command: () => {
                this.$store.state.createApartmentDialogVisible = true;
              },
            },
          ],
        },
        {
          label: "",
          icon: "pi pi-fw pi-user",
          visible: false,
          items: [
            {
              label: "Log out",
              visible: true,
              icon: "pi pi-fw pi-sign-out",
              command: () => {
                this.logout();
              },
            },
          ],
        },
        {
          label: "Log in",
          visible: true,
          icon: "pi pi-fw pi-sign-in",
          command: () => {
            router.push("/login");
          },
        },
      ],
    };
  },
  computed: {
    username: function () {
      if (!(this.$store.state.user === null)) {
        return this.$store.state.user.username;
      } else {
        return null;
      }
    },
    isLoggedIn: function () {
      return this.$store.state.loggedIn;
    },
  },
  watch: {
    username: function (username) {
      this.items[1].label = username;
    },
    isLoggedIn: function (isLoggedIn) {
      if (isLoggedIn) {
        this.items[0].visible = true;
        this.items[1].visible = true;
        this.items[2].visible = false;
      } else {
        this.items[0].visible = false;
        this.items[1].visible = false;
        this.items[2].visible = true;
      }
    },
  },
  methods: {
    logout() {
      this.$store.commit("logout");
    },
  },
};
</script>

<style scoped></style>
