<template>
  <div id="app">
    <Menu />
    <CreateApartment />
    <router-view />
  </div>
</template>

<script>
import store from "./state";
import Menu from "./components/Menu";
import CreateApartment from "./components/CreateApartment";

export default {
  components: {
    Menu,
    CreateApartment,
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  mounted() {
    const token = localStorage.getItem("token");
    if (token) {
      store.commit("setToken", token);
      store.commit("setLoggedIn", true);
    }
    this.$store.dispatch("getUser");
  },
};
</script>

<style scoped></style>
